aside.bartool
    a(href="/")
        div.bar0
            ul.subnav
                li.nav_play
                    p 上映
                li.nav_film
                    p 影院
                li.nav_my
                    p 我的