if !data.err && data.citys
    //- citypop
    div.citypop
        div.citybox.city-list
            div.citytit.flexbox_v_c
                a.citybtn.flex
                    i.icon-angle-left 
                    | 返回
            div.citysearch.flexbox
                input.flex.txt(type="text",placeholder="输入城市名或拼音查询")
            div.list-wrapper.m-hide
                h3 搜索结果
                ul
                    li
                        span 北京
            div.list-wrapper.m-hide
                h3 最近访问
                ul
                    li
                        span 北京
            div.list-wrapper
                h3 热门城市
                ul
                    li
                        span 北京

            div.citylist(style="display:non1e")
                dl
                    dt A
                    dd
                        ul
                            li
                                a(href="#") 北京


        


