extends ./layout

block title
        title 票友网



block prepend body
    
    //wrap
    div.wrap
        div.citybox
            div.citytit.flexbox_v_c
                div.citybtn.flex
                    i.demo-icon.icon-angle-left
                    返回
                div.citymid.flex 城市选择
            div.citysearch.flexbox
                input.flex.txt(type="text",value="输入城市名或拼音查询")
            div.citylist
                dl.currcity
                    dt.hot 当前城市
                    dd
                        ul
                            li
                                a(href="#") 北京
                dl.hotcity
                    dt.hot 热门
                    dd
                        ul
                            li
                                a(href="#") 北京
                            li
                                a(href="#") 上海
                            li
                                a(href="#") 天津
                            li
                                a(href="#") 大连
                dl
                    dt A
                    dd
                        ul
                            li
                                a(href="#") 北京
                            li
                                a(href="#") 上海
                            li
                                a(href="#") 天津
                            li
                                a(href="#") 大连
                    dt B
                    dd
                        ul
                            li
                                a(href="#") 北京
                            li
                                a(href="#") 上海
                            li
                                a(href="#") 天津
                            li
                                a(href="#") 大连
                    dt C
                    dd
                        ul
                            li
                                a(href="#") 北京
                            li
                                a(href="#") 上海
                            li
                                a(href="#") 天津
                            li
                                a(href="#") 大连
                    dt D
                    dd
                        ul
                            li
                                a(href="#") 北京
                            li
                                a(href="#") 上海
                            li
                                a(href="#") 天津
                            li
                                a(href="#") 大连
                    dt E
                    dd
                        ul
                            li
                                a(href="#") 北京
                            li
                                a(href="#") 上海
                            li
                                a(href="#") 天津
                            li
                                a(href="#") 大连
        aside.citytool
            ul
                li A
                li B
                li C
                li D
                li E
                li F
                li G
                li H
                li I
                li J
                li K
                li L
                li M
                li N
                li R
                li O
                li p
                li Q
                li S
                li T
                li U
                li V
                li W
                li X
                li Y
                li Z




block prepend footer

block prepend script
    script
        


