extends ./layout

block title
        title 票友网



block prepend body
    
    //wrap
    div.wrap
        div.filminfo.flexbox_v_c
            div.flex
                h2 昌平保利影剧院
                p 北京市昌平区鼓楼南街佳莲时代广场四层
                div.btnbar
                    a(href="#")
                        i.ico_firend
                        span 好友买单
                    a(href="#")
                        i.ico_redbag
                        span 邀红包 
            div.arrow
                i.demo-icon.icon-angle-right
        div.filmscroll
            ul.flexbox
                li
                    a(href="/")
                        img(src="/tempimages/120175.jpg")
                        i.demo-icon.icon-up-micro
                li.curr
                    a(href="/")
                        img(src="/tempimages/120175_1.jpg")
                        i.demo-icon.icon-up-micro
                li
                    a(href="/")
                        img(src="/tempimages/120175.jpg")
                        i.demo-icon.icon-up-micro
                li
                    a(href="/")
                        img(src="/tempimages/120175_1.jpg")
                        i.demo-icon.icon-up-micro
                li
                    a(href="/")
                        img(src="/tempimages/120175.jpg")
                        i.demo-icon.icon-up-micro
            div.flexbox.filmtxt
                p.flex 蚁人
        div.filmlist
            div.tabstime
                ul.flexbox
                    li.curr
                        span 今天 06-18
                    li
                        span 明天 06-19
                    li
                        span 后天 06-20
            div.tabscont
                div.timebox
                    ul
                        li
                            a.flexbox_v_c
                                div.toolmid
                                    i.demo-icon.icon-sun
                                div.timemid
                                    h2 13:50
                                    p 15:44结束
                                div.vermid.flex
                                    h2 国语 数字3D
                                    p 2号影厅
                                div.pricemid
                                    p 已关闭订票
                        li
                            a.flexbox_v_c
                                div.toolmid
                                    i.demo-icon.icon-sun
                                div.timemid
                                    h2 13:50
                                    p 15:44结束
                                div.vermid.flex
                                    h2 国语 数字3D
                                    p 2号影厅
                                div.pricemid
                                    p 已关闭订票
                        li
                            a.flexbox_v_c(href="/room/1002895")
                                div.toolmid
                                    i.demo-icon.icon-sun
                                div.timemid
                                    h2 13:50
                                    p 15:44结束
                                div.vermid.flex
                                    h2 国语 数字3D
                                    p 2号影厅
                                div.pricemid
                                    p.pricetxt ￥51
                        li
                            a.flexbox_v_c(href="/room/1002895")
                                div.toolmid
                                    i.demo-icon.icon-sun
                                div.timemid
                                    h2 13:50
                                    p 15:44结束
                                div.vermid.flex
                                    h2 国语 数字3D
                                    p 2号影厅
                                div.pricemid
                                    p.pricetxt ￥51
                        li
                            a.flexbox_v_c(href="/room/1002895")
                                div.toolmid
                                    i.demo-icon.icon-sun
                                div.timemid
                                    h2 13:50
                                    p 15:44结束
                                div.vermid.flex
                                    h2 国语 数字3D
                                    p 2号影厅
                                div.pricemid
                                    p.pricetxt ￥51
        footer.footer
            h2 客服电话：4008-188-188
            p 电影票友服务由北京亚视联合在线科技有限公司提供


block prepend footer

block prepend script
    script
        


