extends ./layout

block title
        title 票友网



block prepend body
    
    //wrap
    div.wrap
         div.infotxt
            header.infoheader
                div.infotool
                    img(src="/tempimages/inin.jpg")
                div.addticketbox ddaf
                h2.infotit 腾讯众创空间首个估值过10亿美金独角兽：微票儿C轮融资15亿
                div.infomenu.flexbox_v_c
                    i.info01
                    span.linkname 票友君
                        time 11-17 18：31
                    i.info02
                    span 票友开放平台
            div.infocon
                p.
                    日前，腾讯众创空间“双百计划”项目、移动票务平台“微票儿”确认完成C轮融资，融资金额15亿人民币。本轮融资由北京文资华夏安赐影视文化投资基金领投，参投方包括信业基金、纪源资本、南方资本、诺亚歌斐、新希望等多家基金公司，公司原股东腾讯、万达、引力进行了跟投。融资后，微票儿的市场估值已近100亿人民币。此次融资为移动票务市场垂直领域最大单笔融资。
                div.infoconimg
                    img(src="/tempimages/infoconimg.jpg") 
                h3 
                    span 增速最快的娱乐票务平台 
                p.
                    北京微影时代科技有限公司成立于2014年5月，定位为基于移动社交的电影、演出、体育等泛娱乐营销与发行平台。其旗下的移动票务平台“微票儿”拥有三大购票入口，包括微信钱包“电影票”、QQ钱包“电影演出票”和“微票儿”APP。依托微信6.5亿用户、QQ 8.6亿用户，借助活跃的移动社交优势，微票儿帮助电影、演出、赛事等泛娱乐产品触达海量的移动互联网用户，并实现快速便捷的消费转化。通过不断连接场景与内容，微票儿用一年半的时间覆盖了4500多家影院及90%的观影人群，进驻1200多家剧场、体育馆和展馆。凭借便捷友好的用户体验及高速增长的市场覆盖，微票儿获得腾讯2015年“腾飞奖”“十大热门应用”奖项。今年国庆档，微票儿在中国电影票房的份额占比突破25%，即每四张电影票中，有一张来自微票儿。  
                h3 
                    span.
                        腾讯众创空间首个市值破10亿美元的企业 
                p.
                    腾讯开放平台总经理侯晓楠表示，微影时代是腾讯众创空间“双百计划”中第一家市值破10亿美元的企业，微影的高速成长也见证了腾讯众创空间扶持创新创业正在走向成功。伴随着互联网+，娱乐文化领域有巨大的发展机遇，我们对微影的商业模式充满信心。腾讯愿意与微影这样充满活力的伙伴携手，“连接一切”。   
                div.txtfoot 关心这篇文章，会推荐更多此类内容 
                div.codeinfo.flexbox
                    div.imgbox
                        img(src="/tempimages/code.jpg")
                    div.txtbox.flex
                        h4 票友开放平台
                        p 最佳影互平台
                div.sharetoolbox
                    a
                        i.b_fav
                        span 1
                    a
                        i.b_weixin
                        span 1
                    a
                        i.b_oicq
                        span 1
                    a
                        i.b_sina
                        span 1
                div.infoaddimg
                    img(src="/tempimages/infoaddimg.jpg")


block prepend footer

block prepend script
    script
        


