doctype html
html
    head
        include ./pagelets/head/meta.jade
        block meta
        // 标题
        block title
        // 默认样式
        include ./pagelets/head/style.jade
        block style
    body
        block body
        if data && !data.isToolHide
            aside.bartool
                div.bar0
                    ul.subnav
                        li.nav_play
                            p 上映
                        li.nav_film
                            p 影院
                        li.nav_my
                            p 我的
        block footer
        block script
        include ./pagelets/analytics.jade