div.mask.flexbox_v.wait
    div.hottips
        p.telinput.flexbox
            input.flex(type="tel",placeholder="请输入手机号")
        div.tipsbtn.flexbox
            a(href="#").flex 确定
            a(href="#").flex 取消