extends ./layout

block title
        title 电影票友
block prepend body
    div.mask.flexbox_v.wait
        div.hottips
            p 你忘记输入手机号了 
            a(href="/payment") 我知道了
         

block prepend footer
block prepend script
    script
        


