extends ./layout

block title
        title 电影票友
block prepend body
    include ./pagelets/mask.jade
        div.cardpop 
           include redbaglist 

block prepend footer
block prepend script
    script
        


