ul 
    li.new 
        strong 待放映
        h2 蚁人
        p 3D | 今天（10月17日） 18:20
        div.flexbox.ordermid
            div.ordercode.flex PY100100200 02
            div.ordertxt 北京沃美影城(常营店)
    li
        strong 已放映
        h2 蚁人
        p 3D | 今天（10月17日） 18:20
        div.flexbox.ordermid
            div.ordercode.flex PY100100200 02
            div.ordertxt 北京沃美影城(常营店)
    li
        strong 已放映
        h2 蚁人
        p 3D | 今天（10月17日） 18:20
        div.flexbox.ordermid
            div.ordercode.flex PY100100200 02
            div.ordertxt 北京沃美影城(常营店)
    li
        strong 已放映
        h2 蚁人
        p 3D | 今天（10月17日） 18:20
        div.flexbox.ordermid
            div.ordercode.flex PY100100200 02
            div.ordertxt 北京沃美影城(常营店)
    li
        strong 已放映
        h2 蚁人
        p 3D | 今天（10月17日） 18:20
        div.flexbox.ordermid
            div.ordercode.flex PY100100200 02
            div.ordertxt 北京沃美影城(常营店)
    li
        strong 已放映
        h2 蚁人
        p 3D | 今天（10月17日） 18:20
        div.flexbox.ordermid
            div.ordercode.flex PY100100200 02
            div.ordertxt 北京沃美影城(常营店)