extends ./layout

block title
        title 电影票友



block prepend body
    include ./pagelets/loading
    
    //wrap
    div.wrap
        div.online
            div.onlineinfo
                div.flexbox
                    div.ontext.flex
                        h2 蚁人
                        p 北京沃美影城（常营店）
                        p 3D | 今天（10月17日） 18:20
                    div.onbtn
                        a(href="#") 选好了
            div.onlinemid.flexbox
                div.main.flex 请选择下方座位，最多选4个
                div.aside
                    a(href="#") 换个场次
            div.onlineseat
                h2 2号影厅（银幕方向）
                div.onlinebox
                    div.text
                        i.seat_selected
                        | 选择
                        i.seat_false
                        | 已选
                        i.seat_ture
                        | 未选
                div.smallticket
                    div.row_num
                        ul
                            li
                                span 1
                            li
                                span 2
                            li
                                span 3
                            li
                                span 4
                            li
                                span 5
                    div.ticket_seatcont
                        ul.tnone
                            li
                                span.seat_null
                                span.seat_null
                                span.seat_ture
                                span.seat_selected
                                span.seat_ture
                                span.seat_false
                                span.seat_ture
                                span.seat_ture
                                span.seat_selected
                                span.seat_ture
                                span.seat_false
                                span.seat_ture
                                span.seat_ture
                                span.seat_selected
                                span.seat_ture
                                span.seat_false
                                span.seat_ture
                                span.seat_null
                                span.seat_null
                            li
                                span.seat_null
                                span.seat_null
                                span.seat_ture
                                span.seat_selected
                                span.seat_ture
                                span.seat_false
                                span.seat_ture
                                span.seat_ture
                                span.seat_selected
                                span.seat_ture
                                span.seat_false
                                span.seat_ture
                                span.seat_ture
                                span.seat_selected
                                span.seat_ture
                                span.seat_false
                                span.seat_ture
                                span.seat_null
                                span.seat_null
                            li
                                span.seat_null
                                span.seat_null
                                span.seat_ture
                                span.seat_selected
                                span.seat_ture
                                span.seat_false
                                span.seat_ture
                                span.seat_ture
                                span.seat_selected
                                span.seat_ture
                                span.seat_false
                                span.seat_ture
                                span.seat_ture
                                span.seat_selected
                                span.seat_ture
                                span.seat_false
                                span.seat_ture
                                span.seat_null
                                span.seat_null
                            li
                                span.seat_null
                                span.seat_null
                                span.seat_ture
                                span.seat_selected
                                span.seat_ture
                                span.seat_false
                                span.seat_ture
                                span.seat_ture
                                span.seat_selected
                                span.seat_ture
                                span.seat_false
                                span.seat_ture
                                span.seat_ture
                                span.seat_selected
                                span.seat_ture
                                span.seat_false
                                span.seat_ture
                                span.seat_null
                                span.seat_null
                            li
                                span.seat_null
                                span.seat_null
                                span.seat_ture
                                span.seat_selected
                                span.seat_ture
                                span.seat_false
                                span.seat_ture
                                span.seat_ture
                                span.seat_selected
                                span.seat_ture
                                span.seat_false
                                span.seat_ture
                                span.seat_ture
                                span.seat_selected
                                span.seat_ture
                                span.seat_false
                                span.seat_ture
                                span.seat_null
                                span.seat_null
            div.seatinfo
                b ¥53
                span 11排11座
                span 11排12座
                span 11排13座
                span 11排14座


          




block prepend footer

block prepend script
    script
        


