extends ./layout

block title
        title 电影票友



block prepend body
    
    //wrap
    div.wrap
         div.succ
            dl
                dt
                    i
                dd
                    b LIUDAQ1007
                    p 购买成功
            div.succinfo
                h2 蚁人
                p 北京沃美影城（常营店）
                p 3D | 今天（10月17日） 18:20
                p
                    i.ico_tick 1排7座
            a.succlink(href="/cinemaorder") 查看订单详情
            div.succimg
                img(src="http://dummyimage.com/628x140&amp;text=1")
        footer.footer
            h2 客服电话：4008-188-188
            p 电影票友服务由北京亚视联合在线科技有限公司提供




block prepend footer

block prepend script
    script
        


