extends ./layout

block title
        title 电影票友



block prepend body
    
    //wrap
    div.wrap
        div.paybox.flexbox
            div.flex 
                h2 蚁人
                p 北京沃美影城（常营店）
                p 3D | 今天（10月17日） 18:20
            div.btnbox
                a(href="#") 重新选座
        ul.paylist 
            li.flexbox
                div.main.flex 
                    i.ico_ticket 11排17座
                    i.ico_ticket 11排18座
                    i.ico_ticket 11排19座
                    i.ico_ticket 11排20座
                div.priceaside ¥53
            li.flexbox.txtflex
                div.main.flex 票友卡¥28+红包¥25
                div.priceaside
            li.redbox
                a.flexbox.paymid(href="#")
                    p.flex 红包
                    p.select.notlink 无可用
                a.flexbox.paymid(href="#")   
                    p.flex 票友卡
                    p.select.notlink 无可用
            li.telbox
                div.flexbox_v_c.payinfo
                    label 手机号码
                    input(type="tel").flex 
                    a(href="#")
                        i.demo-icon.icon-cancel-circled
                div.flexbox_v_c.payend
                    div.flex 还需支付
                    div.payprice
                        b ¥5
                        p 已含服务费：¥1/张
        div.paytool
            p 
                i.demo-icon.icon-cancel-circled2
                | 不支持退款
                i.demo-icon.icon-cancel-circled2
                | 不支持更换场次
            ul 
                li
                    a(href="#") 微信付款
                li
                    a(href="#") 支付宝付款
                li.notlink
                    a(href="#") 立即支付
            div.time 
                i 
                | 支付剩余时间
                span 7:37
            dl.otherinfo
                dt 购票须知
                dd 1、选座票由
                    strong 电影票友
                    | 提供，客服热线：4008-18-1818<br>2、请确认场次和时间无误，付款成功后将不予退换




block prepend footer

block prepend script
    script
        


