div.cardpop 
    ul.cardlist
        li
            div.cardtxt
                b 金额：
                span ￥51
            p 票友卡：373.00元
            p 有效期：2015-09-02至2018-09-02
        li
            div.cardtxt
                b 金额：
                span ￥51
            p 票友卡：373.00元
            p 有效期：2015-09-02至2018-09-02
        li
            div.cardtxt
                b 金额：
                span ￥51
            p 票友卡：373.00元
            p 有效期：2015-09-02至2018-09-02