extends ./layout

block title
        title 电影票友



block prepend body
    include ./pagelets/loading
    
    //mask Begin
    div.mask.flexbox_v
        div.maskbtn
            a.btn_close(href="#")
                i.demo-icon.icon-cancel
        div.maskother.flex
            //centent Begin
            div.regist
                header
                    p 电影票友注册
                ul.registbox
                    li.flexbox_v_c
                        label(for="") 昵称
                        input(type="text",placeholder="例如：春天").flex.biginput
                    li.flexbox_v_c
                        label(for="") +86
                        input(type="tel",placeholder="你的手机号").flex.biginput
                     li.flexbox_v_c.password
                        label(for="") 密码
                        input(type="password",placeholder="请输入密码").flex
                        a(href="#")
                            i.demo-icon.icon-eye
                div.flexbox
                    input(type="button",value="注册").btn_regist.flex
                div.registinfo
                    a(href="#")
                        p 温馨提示：未注册电影票友账号的手机号，登录时将自动注册，
                        p 且代表您已同意
                            span 电影票友用户协议》
                dl.qucklogin
                    dt 快捷方式
                    dd.flexbox_vh_c
                        p
                            a(href="#").b_weixin
                        p
                            a(href="#").b_qq
                        p
                            a(href="#").b_sinaweibo


            //centent End
    //mask End
     




block prepend footer

block prepend script
    script
        


