extends ./layout

block title
        title 电影票友



block prepend body
    
    //wrap
    div.wrap
        div.selflist
            div.selftit.flexbox_v_c
                i
                p 推荐自媒体
            div.scrollselful
                ul.flexbox_v_c
                    li
                        a.selfclose
                        a(href="")
                            div.imgbox
                                img(src="/images/logo180.png")
                            div.textbox
                                h2 电影票友
                    li.join
                        a.selfclose
                        a(href="")
                            div.imgbox
                                img(src="/images/logo180.png")
                            div.textbox
                                h2 电影票友
                    li
                        a.selfclose
                        a(href="")
                            div.imgbox
                                img(src="/images/logo180.png")
                            div.textbox
                                h2 电影票友
                    li
                        a.selfclose
                        a(href="")
                            div.imgbox
                                img(src="/images/logo180.png")
                            div.textbox
                                h2 电影票友
            
            //- header end
            div.selfcont
                ul.navmy.flexbox
                    li.curr.flex 大家的小伙伴
                    li.flex 我的小伙伴
                div.subtablist
                    ul
                        li
                            div.flexbox_v_c.selful
                                div.imgbox
                                    img(src="/images/logo180.png")
                                div.textbox.flex
                                    h2 电影票友
                                    p.selftip
                                        span
                                            | 粉丝
                                        span
                                            | 3000
                                        span
                                            | |
                                        span
                                            | 累计阅读
                                        span
                                            | 2000
                                    p.selfinfo
                                        | 在电影时光时读懂自已
                                div.toolbox
                                    a.btn_join
                                        span
                                            | +
                        li
                            div.flexbox_v_c.selful
                                div.imgbox
                                    img(src="/images/logo180.png")
                                div.textbox.flex
                                    h2 电影票友
                                    p.selftip
                                        span
                                            | 粉丝
                                        span
                                            | 3000
                                        span
                                            | |
                                        span
                                            | 累计阅读
                                        span
                                            | 2000
                                    p.selfinfo
                                        | 在电影时光时读懂自已
                                div.toolbox
                                    a.btn_join.btn_curr
                                        span
                                            | -
                        li
                            div.flexbox_v_c.selful
                                div.imgbox
                                    img(src="/images/logo180.png")
                                div.textbox.flex
                                    h2 电影票友
                                    p.selftip
                                        span
                                            | 粉丝
                                        span
                                            | 3000
                                        span
                                            | |
                                        span
                                            | 累计阅读
                                        span
                                            | 2000
                                    p.selfinfo
                                        | 在电影时光时读懂自已
                                div.toolbox
                                    a.btn_join
                                        span
                                            | +
                        li
                            div.flexbox_v_c.selful
                                div.imgbox
                                    img(src="/images/logo180.png")
                                div.textbox.flex
                                    h2 电影票友
                                    p.selftip
                                        span
                                            | 粉丝
                                        span
                                            | 3000
                                        span
                                            | |
                                        span
                                            | 累计阅读
                                        span
                                            | 2000
                                    p.selfinfo
                                        | 在电影时光时读懂自已
                                div.toolbox
                                    a.btn_join
                                        span
                                            | +
                         
                    //- ul end
                    a.showmore
                        | 更多精彩内容 
                //- subtablist end
                div.subtablist(style="display:none;")
                    ul
                        li
                            div.flexbox_v_c.selful
                                div.imgbox
                                    img(src="/images/logo180.png")
                                div.textbox.flex
                                    h2 电影票友
                                    p.selftip
                                        span
                                            | 粉丝
                                        span
                                            | 3000
                                        span
                                            | |
                                        span
                                            | 累计阅读
                                        span
                                            | 2000
                                    p.selfinfo
                                        | 在电影时光时读懂自已
                                div.toolbox
                                    a.btn_join
                                        span
                                            | +
                        li
                            div.flexbox_v_c.selful
                                div.imgbox
                                    img(src="/images/logo180.png")
                                div.textbox.flex
                                    h2 电影票友
                                    p.selftip
                                        span
                                            | 粉丝
                                        span
                                            | 3000
                                        span
                                            | |
                                        span
                                            | 累计阅读
                                        span
                                            | 2000
                                    p.selfinfo
                                        | 在电影时光时读懂自已
                                div.toolbox
                                    a.btn_join
                                        span
                                            | +
                        li
                            div.flexbox_v_c.selful
                                div.imgbox
                                    img(src="/images/logo180.png")
                                div.textbox.flex
                                    h2 电影票友
                                    p.selftip
                                        span
                                            | 粉丝
                                        span
                                            | 3000
                                        span
                                            | |
                                        span
                                            | 累计阅读
                                        span
                                            | 2000
                                    p.selfinfo
                                        | 在电影时光时读懂自已
                                div.toolbox
                                    a.btn_join
                                        span
                                            | +
                        li
                            div.flexbox_v_c.selful
                                div.imgbox
                                    img(src="/images/logo180.png")
                                div.textbox.flex
                                    h2 电影票友
                                    p.selftip
                                        span
                                            | 粉丝
                                        span
                                            | 3000
                                        span
                                            | |
                                        span
                                            | 累计阅读
                                        span
                                            | 2000
                                    p.selfinfo
                                        | 在电影时光时读懂自已
                                div.toolbox
                                    a.btn_join
                                        span
                                            | +
                         
                    //- ul end
                    a.showmore
                        | 更多精彩内容 
            //- selfcont end
            

     
       
block prepend footer

block prepend script
    script
        


