extends ./layout

block title
        title 电影票友



block prepend body
    
    //wrap
    div.wrap
        div.selflist
            
            header.flexbox_v_c.selful
                div.imgbox
                    img(src="/images/logo180.png")
                div.textbox.flex
                    h2 电影票友
                    p.selftip
                        span
                            | 粉丝
                        span
                            | 3000
                        span
                            | |
                        span
                            | 累计阅读
                        span
                            | 2000
                    p.selfinfo
                        | 在电影时光时读懂自已
                div.toolbox
                    a.btn_join
                        span
                            | +
            //- header end
            div.selfcont
                h2.seltit
                    i
                    | 我们的自媒体小伙伴
                ul
                    li
                        div.flexbox_v_c.selful
                            div.imgbox
                                img(src="/images/logo180.png")
                            div.textbox.flex
                                h2 电影票友
                                p.selftip
                                    span
                                        | 粉丝
                                    span
                                        | 3000
                                    span
                                        | |
                                    span
                                        | 累计阅读
                                    span
                                        | 2000
                                p.selfinfo
                                    | 在电影时光时读懂自已
                            div.toolbox
                                a.btn_join
                                    span
                                        | +
                    li
                        div.flexbox_v_c.selful
                            div.imgbox
                                img(src="/images/logo180.png")
                            div.textbox.flex
                                h2 电影票友
                                p.selftip
                                    span
                                        | 粉丝
                                    span
                                        | 3000
                                    span
                                        | |
                                    span
                                        | 累计阅读
                                    span
                                        | 2000
                                p.selfinfo
                                    | 在电影时光时读懂自已
                            div.toolbox
                                a.btn_join
                                    span
                                        | +
                    li
                        div.flexbox_v_c.selful
                            div.imgbox
                                img(src="/images/logo180.png")
                            div.textbox.flex
                                h2 电影票友
                                p.selftip
                                    span
                                        | 粉丝
                                    span
                                        | 3000
                                    span
                                        | |
                                    span
                                        | 累计阅读
                                    span
                                        | 2000
                                p.selfinfo
                                    | 在电影时光时读懂自已
                            div.toolbox
                                a.btn_join
                                    span
                                        | +
                    li
                        div.flexbox_v_c.selful
                            div.imgbox
                                img(src="/images/logo180.png")
                            div.textbox.flex
                                h2 电影票友
                                p.selftip
                                    span
                                        | 粉丝
                                    span
                                        | 3000
                                    span
                                        | |
                                    span
                                        | 累计阅读
                                    span
                                        | 2000
                                p.selfinfo
                                    | 在电影时光时读懂自已
                            div.toolbox
                                a.btn_join
                                    span
                                        | +
                    li
                        div.flexbox_v_c.selful
                            div.imgbox
                                img(src="/images/logo180.png")
                            div.textbox.flex
                                h2 电影票友
                                p.selftip
                                    span
                                        | 粉丝
                                    span
                                        | 3000
                                    span
                                        | |
                                    span
                                        | 累计阅读
                                    span
                                        | 2000
                                p.selfinfo
                                    | 在电影时光时读懂自已
                            div.toolbox
                                a.btn_join
                                    span
                                        | +
                    li
                        div.flexbox_v_c.selful
                            div.imgbox
                                img(src="/images/logo180.png")
                            div.textbox.flex
                                h2 电影票友
                                p.selftip
                                    span
                                        | 粉丝
                                    span
                                        | 3000
                                    span
                                        | |
                                    span
                                        | 累计阅读
                                    span
                                        | 2000
                                p.selfinfo
                                    | 在电影时光时读懂自已
                            div.toolbox
                                a.btn_join
                                    span
                                        | +
                //- ul end
                a.showmore
                    | 更多精彩内容 >
            //- selfcont end
            footer
                | 我的自媒体

    include mask_telinput
    div.mask.flexbox_v.wait
        div.waitbox     
block prepend footer

block prepend script
    script
        


