extends ./layout

block title
        title 电影票友



block prepend body
    
    //wrap
    div.wrap
        div.skip
            img(src="/images/skip.jpg")


block prepend footer

block prepend script
    script
        


