extends ./layout

block title
        title 电影票友



block prepend body
    
    //- skippop
    div.skippop.flexbox_v.am-skippop
        div.skipcont.flex
            header
                p 在电影的时光
                p 读懂自已。
            h2 我们即将出发
            ul.flexbox_vh_c.frist
                li.flex
                    a
                        i.skip01
                        p 文章
                li.flex
                    a
                        i.skip02
                        p 弹幕
                li.flex
                    a
                        i.skip03
                        p 耳语
            ul.flexbox_vh_c.am-skul 
                li.flex
                    a
                        i.skip04
                        p 摇钱树 
                li.flex
                    a
                        i.skip05
                        p 一起疯
                li.flex
                    a
                        i.skip06
                        p 邀红包
        div.skipbtn
            a.skipclose
                i.icon-cancel

block prepend footer

block prepend script
    script
        


