extends ./layout

block title
        title 电影票友



block prepend body
    
    //skippop
    div.skippop.flexbox_v
    	div.skipcont
    		header
    		h2
    		p
    	div.skipbtn
    		a.skipclose(href="#")



block prepend footer

block prepend script
    script
        


