extends ./layout

block title
        title 电影票友
block prepend body
  div.wrap
    div.cardpop.vipcard
      div.smalltit
        p In the movie's time to read themselves.
        h2 在电影时光里读懂自已
       div.uploadbtn
         a(href="")
           span 上传优惠
           input(type="button") 
           label +
      ul.cardmid.vipcardlist
        li.new.piaoyou
          div.cardlay
           div.cardinfo.flexbox_v_c
              div.flex.main
                p 红包
                b ￥51
              div.aside
                p 仅可购买电影票
                p 满50元可用
            div.cardend.flexbox
              div.flex.main 限平台
              div.aside 2015.12.23到期
                   p （仅剩3天）

block prepend footer
block prepend script
    script
        


