//- 异步加载loading
div.small-load.m-hide
	div.load-bar.rotate_01
	div.load-bar.rotate_02
	div.load-bar.rotate_03
	div.load-bar.rotate_04
	div.load-bar.rotate_05
	div.load-bar.rotate_06
	div.load-bar.rotate_07
	div.load-bar.rotate_08
	div.clearfix