li
    header.flexbox_v_c
        i.timeico
        time.flex 2小时前
        p.myclose
            i  
    section.flexbox_v_c
        div.txtbox.flex
            h2.
                男子在结冰的湖面发现了神奇的景象，让人看一眼就头皮发麻！
            p.
                这简直是密集恐惧症患者的噩梦！冬天气温下降后，湖面被厚厚的冰层覆盖，美国犹他州的两名网友却在上面发现了奇怪的现象
        div.imgbox